#header {
	height: 100px;
	text-align: center;
}

section {
	margin: 20px 5px;
}
.articleUrl span{
	font-style: italic;
}

.articleTitle {
	font-weight: bold;
}

.articleDiff del {
	background-color: #ff0000 !important;
}

.articleDiff ins {
	background-color: #00ff00 !important;
}

.articleMeta {
	margin-left: 40px;
}

.articleMeta_domain, .articleMeta_publishTime {
	color: #0000ff;
}

#arcDiff_4 {
	background: #eee;
}

#arcDiff_3 {
	background: #bbb;
}

#arcDiff_2 {
	background: #999;
}

#arcDiff_1 {
	background: #666;
}