html, body {
  height: 100%;
}

body {
  padding-top: 120px; /* body padding for fixed top nav */
}

.img-home-portfolio,
.img-customer,
.portfolio-item {
  margin-bottom: 30px;
}

.tab-pane {
  margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
  padding: 50px 0;
}

.section-colored {
  background-color: #e1e1e1;
 /* change this to change the background color of a colored section */
}

.sidebar {
  margin-top: 40px;
}

.sidebar ul {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
  height: 68%;
}

.item,
.active,
.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

/* Service Page Styles */
.service-icon {
  font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
  font-size: 8em;
}

/* Pricing Page Styles */
.price {
  font-size: 4em;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size: 35%;
  font-style: italic;
}

.navbar{
}
.navbar-brand{
  font-size: 80px !important;
  line-height: 80px !important;
}
.navbar-brand a:hover {
  color: #555;
}
h2, p{
}
p{
	line-height: 22px;
	color: #444;
}
.about-info{
	margin-top: 40px;
}
.about-info{
	text-align: right;
	padding-right: 15px;
	border-right: 3px solid rgba(0, 88, 161, 0.5 );
	color: #444;
}
/* Footer Styles */
footer {
  margin: 50px 0 0 0;
  padding: 0 30px;
  bottom: 0;
  position: fixed;
  background-color: rgb(0, 88, 161);
  width: 100%;

}
footer p{
  color: #fff;
  text-align: right;
}
footer a{
	text-decoration: none;
	color: #fff;
}
nav.navbar.navbar-inverse.navbar-fixed-top,
nav.navbar.navbar-inverse.navbar-fixed-top a
{
  color: #555;
  background: #fff;
  font-size: 20px;
  line-height: 120px;
}
nav.navbar.navbar-inverse.navbar-fixed-top a:hover{
  color: #00559b;
}
.icon-arrow {
  color: #0058a1;
  zoom: 2;
}