html, body {
  height: 100%;
}

body {
  padding-top: 120px; /* body padding for fixed top nav */
  min-height:100%;
}
.section{
  min-height:100%;
  position:relative;
}
.img-home-portfolio,
.img-customer,
.portfolio-item {
  margin-bottom: 30px;
}

.tab-pane {
  margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
  padding: 0; /*50px 0*/
}

.section-colored {
  background-color: #e1e1e1;
}

#sidebar {
  margin-top: 40px;
}

#sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    height: 600px;
    overflow-y: scroll;
}

#sidebar ul li {
  border-radius: 4px;
  margin-left: 2px;
  margin-top: 2px;
  text-align: center;
  height: 25px;
  line-height: 25px;
}

#sidebar ul li.selected {
  color: #fff;
  background-color: #428bca;
}

#sidebar ul li:hover {
  color: #fff;
  background-color: #428bca;
}

.carousel {
  height: 68%;
}

.item,
.active,
.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

/* Service Page Styles */
.service-icon {
  font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
  font-size: 8em;
}

/* Pricing Page Styles */
.price {
  font-size: 4em;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size: 35%;
  font-style: italic;
}

p{
	line-height: 22px;
	color: #444;
}


/*CONTENT PAGE*/
del {
    background: #f99 !important;
}
ins {
    background: #a9de92 !important;
}
.plus{
    color: rgb(108, 198, 68);
}
.minus{
    color: rgb(189, 44, 0);
}

.contentEntry {
    border: 1px solid #ddd;
    border-radius: 3px;  
    margin: 20px 0px;
}
.contentHead {
    background-color: rgb(247, 247, 247);
    border-bottom-color: rgb(216, 216, 216);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    padding: 10px;
}
.url {
    font-size: 13px;
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    white-space: nowrap;
    background-color: #eeeeee;
    width: 80px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    float: right;
    margin: -40px 10px 0 0;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-image: linear-gradient(#fcfcfc, #eee);
}
.deletedContent {
    padding: 10px;
    background-color: #ffeeee;
}
.compareContent {
    padding: 10px;
}
.deletedInfo, .compareInfo {
    font-style: italic;
    font-weight: bold;
}


/*ABOUT PAGE*/
.about-info{
	margin-top: 40px;
}
.about-info{
	text-align: right;
	padding-right: 15px;
	border-right: 3px solid rgba(0, 88, 161, 0.5 );
	color: #444;
}
.img-responsive{
  margin-top:25px;
  padding-left: 5px;
}
.img-responsive2{
  margin-left: 30px;

}

/*NAV BAR*/
.navbar-brand{
  font-size: 60px !important;
  line-height: 60px !important;
}
.navbar-brand a:hover {
  color: #555;
}
nav.navbar.navbar-inverse.navbar-fixed-top,
nav.navbar.navbar-inverse.navbar-fixed-top a
{
  color: #555;
  background: #fff;
  font-size: 18px;
  height: 80px;
  border-bottom: 1px solid #F2F2F2;
  text-align: baseline;
}
nav.navbar.navbar-inverse.navbar-fixed-top a:hover{
  color: #00559b;
}
.navbar-nav li a{
  padding-top: 35px;
}
.icon-arrow {
  color: #0058a1;
  zoom: 2;
}


/* Footer Style */
footer {
position: relative;
background: #292929;
-webkit-font-smoothing: antialiased;
height: 75px;
font-family: "ff-basic-gothic-sc-web-pro", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #777;
color: #cccccc;
font-size: 14px;
bottom:0;
left:0;
width: 100%;
}
footer #copyright ul{
  list-style: none;
  margin: 25px 35%;
  width:100%;
}
footer #copyright ul li{
  float: left;
  padding:0 15px;
  border-right: 1px solid #777;
  color: #cccccc;
}
footer #copyright ul li a{
  text-decoration: none;
  color: #cccccc;
}
footer #copyright ul li a:hover{
  color: #90C5D4;
}
