<!doctype html>
<title>Newshub.cc - Track news story changes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-language" content="en-us" />
<meta name="description" content="Newshub is " />
<meta name="keywords" content="Brown Institute ... " />
<meta http-equiv="expires" content="0" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

<!-- Facebook Meta Tags -->
<meta property="og:title" content="Newshub.cc - Track news story changes">
<meta property="og:image" content="{{ url_for('static', filename='img/favicon.ico') }}">
<meta property="og:site_name" content="Newshub">

<!-- Google Analytics -->
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', '']);
	_gaq.push(['_trackPageview']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

<!-- CSS -->
<link rel=stylesheet href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel=stylesheet href="{{ url_for('static', filename='css/modern-business.css') }}">
<link rel=stylesheet href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">

<!-- Vendor -->
<script type=text/javascript> var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<script src="{{ url_for('static', filename='vendor/d3.v3.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery-1.11.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% block body %}{% endblock %}